<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SeprateImages</key>
	<array>
		<dict>
			<key>totalCoins</key>
			<string>30</string>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/f11.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/f12.png</string>
			<key>coins</key>
			<string>20</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/f13.png</string>
			<key>coins</key>
			<string>25</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/f14.png</string>
			<key>coins</key>
			<string>35</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/f15.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/f16.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/f17.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/f18.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/f19.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/f20.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/f21.png</string>
			<key>coins</key>
			<string>50</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/f22.png</string>
			<key>coins</key>
			<string>30</string>
			<key>unlock</key>
			<false/>
		</dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f23.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f25.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f27.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f28.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f32.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f33.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f34.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f35.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f36.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f37.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f39.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f4.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f40.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f42.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f43.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f45.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f46.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f48.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f49.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f5.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f50.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f51.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f52.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f53.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f54.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f57.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f58.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f6.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f61.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f7.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
        <dict>
            <key>image</key>
            <string>http://fluxtechsolutions.com/scarycam/f9.png</string>
            <key>coins</key>
            <string>30</string>
            <key>unlock</key>
            <false/>
        </dict>
	</array>
	<key>1234</key>
	<array>
		<dict>
			<key>totalCoins</key>
			<string>30</string>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/mask1.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/mask1.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/mask1.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/mask1.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/mask1.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/mask1.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/mask1.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/mask1.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/mask1.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
		<dict>
			<key>image</key>
			<string>http://fluxtechsolutions.com/scarycam/mask1.png</string>
			<key>coins</key>
			<string>10</string>
			<key>unlock</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
